.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  padding: 67px 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.card-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  width: 100%;
  max-width: 350px;
  height: 367px;
  padding: 24px 30px 26px;
  background-color: var(--white);
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 12px;
  box-sizing: border-box;
}

.card-item__content {
  width: 300px;
  height: 157px;
  background-color: var(--grey-2);
}

.card-item__title {
  font: 500 21px/25px 'Roboto', sans-serif;
  color: var(--black);
}