.footer {
    border-top: 1px solid var(--grey-2);
    background-color: var(--white);
    text-align: center;
    padding: 70px 0;
    box-sizing: border-box;

    &__title {
        font: 500 38px/48px $font-inter;
        color: var(--black);
    }

    &__text {
        @mixin text-medium;
        color: var(--black);
        margin: 32px auto;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 35px 16px;
        text-align: left;

        &__title {
            font: 400 28px/38px $font-inter;
        }

        &__text {
            margin: 16px 0;
        }
    }
}