.checkbox {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  @mixin text-medium;
  color: var(--grey4);
  margin: 6px 0;
  width: 50%;
  &:nth-child(3) {
    width: 100%;
  }

  &__item {
    @mixin flex-center;
    position: relative;
    width: 28px;
    height: 28px;
    background-color: var(--white);
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
  }

  &__input {
    position: absolute;
    clip: rect(0,0,0,0);
    opacity: 0;

    &:focus ~.checkbox__item,
    &:hover ~.checkbox__item {
      border: 1px solid var(--blue);
    }

    &:focus ~.checkbox__label {
      border-bottom: 1px solid var(--blue);
    }

    &:checked ~ .checkbox__item {
      background-color: var(--blue);
      border: 1px solid var(--blue);
    }

    &:checked ~ .checkbox__item:after {
      content: '';
      width: 30px;
      height: 30px;
      border-radius: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--black);
      opacity: 0;
      animation-duration: .3s;
      animation-name: checkbox-shadow;
      animation-iteration-count: 1;
      animation-direction: Normal;
    }

    &:disabled ~.checkbox__item {
      color: var(--grey-2);
      cursor: not-allowed;
      background-color: var(--grey-2);
      border: 1px solid var(--grey-2);
    }

    &:disabled ~.checkbox__item > .checkbox__icon {
      display: none;
    }

    &:disabled:focus ~.checkbox__label {
      border: none;
    } 
  }
}



.radio-btn {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  @mixin text-medium;
  color: var(--grey-4);
  margin: 6px 0;
  width: 50%;
  &:nth-child(6) {
    width: 100%;
  }

  &__item {
    position: relative;
    @mixin flex-center;
    width: 28px;
    height: 28px; 
    background-color: var(--white);
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
  }

  &__input {
    position: absolute;
    clip: rect(0,0,0,0);
    opacity: 0;

   &:focus ~ .radio-btn__item {
      border: 2px solid var(--blue);
    }

   &:focus ~ .radio-btn__label {
      border-bottom: 2px solid var(--blue);
    }

   &:checked ~ .radio-btn__item {
      border: 2px solid var(--blue);
    }

   &:checked ~ .radio-btn__item:after {
      content: "";
      width: 18px;
      height: 18px;
      background-color: var(--blue);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }

   &:checked:focus ~ .radio-btn__label {
      border: none;
    }

   &:disabled ~ .radio-btn__item {
      background-color: var(--grey-2);
      color: var(--grey-2);
      border: none;
      cursor: not-allowed;
    }

   &:disabled ~ .radio-btn__label {
      color: var(--grey-2);
    }

   &:disabled:focus ~ .radio-btn__label {
      border: none;
    }

   &:disabled ~ .radio-btn__item:after {
      display: none;
    }
  }
}

.toggler {
  display: inline-flex;
  align-items: center;
  color: var(--grey-4);
  margin: 6px 0;
  width: 50%;
  &:nth-child(9) {
    width: 100%;
  }

  &__point {
    position: relative;
    width: 52px;
    height: 28px; 
    background-color: var(--white);
    border: 1px solid var(--grey-2);
    padding: 2px;
    box-sizing: border-box;
    border-radius: 16px;  
    margin: 0 12px 0 0;  
    cursor: pointer;
    &:after {
      content: "";
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: var(--grey-2);
      position: absolute;
      top: 50%;
      left: 2px;
      transform: translateX(0%) translateY(-50%);
      transition: transform 200ms ease-in-out;
    }
  }

  &__label {
    border-bottom: 1px solid transparent;
  }

  &__input-hidden {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    opacity: 0;
    &:focus ~ .toggler__label,
    &:hover ~ .toggler__label {
      border-bottom: 1px solid var(--blue);
    }

    &:checked ~ .toggler__point {
      background-color: var(--blue);
    }

    &:checked ~ .toggler__point:after {
      background-color: var(--white);
      transform: translateX(95%) translateY(-50%);
    }

    &:checked:focus ~ .toggler__label,
    &:disabled:focus ~ .toggler__label {
      border: none;
    }

    &:disabled ~ .toggler__point {
      background-color: var(--grey-2);
      cursor: not-allowed;
    }

    &:disabled ~ .toggler__point:after {
      background-color: var(--grey-3);
    }
  }
}

.field {
  &__wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 350px;
    position: relative;
  }

  &__input {
    display: inline-flex;
    align-items: center;
    width: 100%;
    background-color: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 8px;
    padding: 17px 17px 13px 24px;
    box-sizing: border-box;
    cursor: pointer;
    @mixin text-large;
    color: var(--grey-4);
    transition: border-color 200ms ease-in-out;

    &::placeholder {
      color: var(--grey-2);
    }

    &:hover,
    &:focus {
      border-color: var(--blue);
    }

    &_invalid {
      border-color: var(--red);
    }

    &_invalid ~ .field__icon_invalid {
      display: block;
    }

    &_invalid:focus,
    &_invalid:hover {
      border-color: var(--red);
    }

    &_success ~ .field__icon_success {
      display: block;
    }

    &_success:focus,
    &_success:hover {
      border-color: var(--grey-2);
    }
  }

  &__label {
    display: inline-flex;
    width: 100%;
    font: 500 12px/18px $font-inter;
    margin: 0 0 5px;
    color: var(--grey-3);
    text-transform: uppercase;
  }

  &__icon {
    display: none;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@keyframes checkbox-shadow {
  0% {
    opacity: 0;
    transform: scale(.5) translate(-85%, -85%);
  }

  50% {
    opacity: .2;
    transform: scale(1.4) translate(-35%, -35%);
  }
  
  100% {
    opacity: .4;
    transform: scale(1.75) translate(-30%, -30%);
  }
}


