.histogram {
  @mixin display-flex;
  width: 100%;
  height: 354px;
  padding: 16px 24px;
  background-color: var(--white);
  border: 1px solid var(--grey-3);
  box-sizing: border-box;
  border-radius: 8px;

  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &-title {
      @mixin text-medium;
      color: var(--black);
      margin: 0;
    }

    &-subtitle {
      display: flex;
      @mixin text-large;
      color: var(--black);
      margin: 6px 0 0;
    }

    &-link {
      @mixin text-medium;
      color: var(--dark-blue);
    }
  }

  &__content {
    height: 100%;
    position: relative;
    width: 100%;
    height: auto;
    
    &-chart {
      background-color: var(--dark-blue);
      @mixin chart;
      bottom: 0;
      cursor: pointer;
      height: 0;
      position: absolute;
      text-align: center;
      width: 10px; 
      left: 0;
      @for $i from 1 to 30 {
        &:nth-child($i) {
          left: calc((10 * $i) - 11 + $i)px;
        }
      }
    }

    @for $i from 1 to 30 {
      .histogram__content-chart-$i {
        animation-delay: .4s;
      }
    }
  }
}

@keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}