.skeleton {
  width: 100%;
  height: 100%;
  max-width: 579px;
  background-color: var(--white);
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  padding: 24px;
  box-sizing: border-box;

  &__header {
    @mixin display-flex;
    justify-content: space-between;
    margin: 0 0 24px;
    
  }

  &__body {
   @mixin display-flex;
    gap: 8px;
    width: 100%;
  }

  &__content {
    @mixin display-flex;
    flex-grow: 1;
    gap: 8px;

    &-item {
      display: flex;
      width: 100%;
    }
  }

  &__img {
    width: 64px;
    height: 64px;
    background-image: linear-gradient(90deg, #DDE2E5 0px, #F3F5F5 40px, #DDE2E5 80px) ;
    background-size: 600px;
    border-radius: 50%;
    margin: 0 16px 0 0; 
    animation: gradient-animation 2s infinite linear;
  }

  &__row {
    width: 100%;
    height: 20px;
    background-image: linear-gradient(90deg, #DDE2E5 0px, #F3F5F5 40px, #DDE2E5 80px) ;
    background-size: 600px;
    animation: gradient-animation 2s infinite linear;
    
    &_small {
      max-width: 38%;
    }

    &_medium {
      max-width: 58%;
    }

    &_large {
      max-width: 98%;
    }
  }
}

@keyframes gradient-animation {
  0% {
    background-position: -100px;
  }

  50% {
    background-position: 250px;
  }
  
  100% {
    background-position: 500px;
  }
}