.theme-toggler {
  display: flex;
  align-items: center;

  &-item {
    width: 64px;
    margin: 0 12px;
  }

  &-icon {
    width: 24px;
    height: 24px;
    stroke: var(--grey-3);
    fill: none;

    &.active {
      stroke: var(--grey-4);
      fill: none;
    }
  }
}