.tooltip {
  position: relative;
  display: inline-block;

  &__icon {
    display: inline-block;
    cursor: pointer;
    width: 24px;
    height: 24px;
    stroke: var(--black); 
  }

  .tooltip__icon:hover + .tooltip__content {
    display: inline-flex;
  }

  &.active .tooltip__content{
    display: inline-flex;
  }

  &__content {
    display: none;
    position: absolute;
    bottom: calc(100% + 3px);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 129px;
    font: 400 16px/24px 'Inter', sans-serif;
    color: var(--grey-2);
    min-height: 45px;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);  
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    box-sizing: border-box;
    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border: 14px solid transparent;
      border-top: 6px solid var(--blue);
    }
  }
}